
input {
        display: block;
    }

h1 {
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 20px;
}

span {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
}
p{
    margin: 0px;
}

